#toDoInput {
    background-color: white; /*pink */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}
h1 { 
    color: rgb(102, 0, 128);
  }

  h3 { 
    color: rgb(29, 10, 197);
  } 
  html {
    width: 300px;
    height: 100px;
    background-color: rgb(60, 211, 248);
  }

  .container1 {
    text-align: center;
}
button.actionButton {
    display: inline-block;
    margin-right: 10px;
}
.container {
    display: flex; /* Use flexbox to align buttons horizontally */
}

/* Style the Add to List button */
button#addButton {
    background-color: #f14df1fa; /*pink */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
button#deleteButton {
    background-color: #eb7387; /*pink */
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
button#clearButton {
    background-color: #099e1c; /*pink */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}



/* Change button color on hover */
button#addButton:hover, button#deleteButton:hover, 
button#clearButton:hover  {
    background-color: #67079e; /* Darker green */
}

#todoListContainer {
    background-color: rgb(240, 226, 101);
    border: 2px solid #ccc; /* Add a border */
    padding: 10px; /* Add some padding */
    min-height: 100px; /* Set a minimum height */
    min-width: 200px; /* Set a minimum width */
}

#archivedListContainer {
    background-color: rgb(81, 206, 77);
    border: 2px solid #ccc; /* Add a border */
    padding: 10px; /* Add some padding */
    min-height: 100px; /* Set a minimum height */
    min-width: 200px; /* Set a minimum width */
}